body div.container {
	margin: 20px;
	margin-bottom: 0;
}

.progress {
	margin-bottom: 0;
}

.well {
	margin-bottom: 10px;
}

.table.updates th {
	padding: 10px 80px 30px;
}

.table.updates td {
	vertical-align: middle;
}

.table.updates img {
	height: 30px		
}

.table.updates .glyphicon-chevron-right {
	top: 0;
}